@CHARSET "ISO-8859-1";

body{
	margin-top: 5%;
}
.inline{
	display: inline-table;
}

.margined{
	margin: 1%;	
}

.centered{
	text-align: center;
}

table, tr, td{
	border: 1px red solid;
}

table{
	margin-left: 40%;
}